body {
    font-family:"Roboto";
    font-weight: 300;
}

.jumbotron {
    background-image: url(assets/setup.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    margin-bottom: 0;
    background-position: center;
}

.logo {
    width:160px;
    
}
.headings {
    font-family:"Abel";
}
/* Skills */
#skillsCont {

}

.skillsquare {
    height:150px;

    margin-bottom: 100px;
}
.skillsquare img {
    height:100%;
    width:160px;
}

.tooltip {
    margin-top:20px;
}

 /*.skillsquare img:hover {
    transform: scale(1.1);
    box-shadow: 0 25px 50px -29px black;
    transition: all 0.3s;
}*/


.collapse {
    background-image: url(assets/duotone.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    box-shadow: 
                0 4px 4px rgba(0, 0, 0, .1), 
                0 8px 8px rgba(0, 0, 0, .1), 
                0 16px 16px rgba(0, 0, 0, .1), 
                0 32px 32px rgba(0, 0, 0, .15), 
                0 64px 64px rgba(0, 0, 0, .15);
}

.portrait {
    width:100%;
    border-radius: 5px;
    box-shadow: 
                0 4px 4px rgba(0, 0, 0, .1), 
                0 8px 8px rgba(0, 0, 0, .1), 
                0 16px 16px rgba(0, 0, 0, .1), 
                0 32px 32px rgba(0, 0, 0, .15), 
                0 64px 64px rgba(0, 0, 0, .15);
}

.headtitle{
    font-family:"Abel";
    font-size: 72px;
}

.card:hover {
    box-shadow: 
                0 4px 4px rgba(0, 0, 0, .1), 
                0 8px 8px rgba(0, 0, 0, .1), 
                0 16px 16px rgba(0, 0, 0, .1), 
                0 32px 32px rgba(0, 0, 0, .15), 
                0 64px 64px rgba(0, 0, 0, .15);
    
    transition: box-shadow .3s ease-out;
}

.mb-6 {
    height:100%;
}

.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

